body {
  background-color: #0f172a;
  font-family: "Inter", sans-serif;
  margin: 0;
}
header {
  background-color: rgb(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(35, 35, 35) 1px;
}
.full-name {
  color: #fbfbfc;
  margin-left: 150px;
}
.nav-links {
  margin-right: 150px;
}
.nav-links a {
  color: #cecece;
  text-decoration: none;
  padding: 10px;
}
.nav-links button {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  width: 100px;
  display: inline-block;

  transition: transform 0.2s ease, background 0.2s ease;
}
.nav-links button:hover {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  transform: scale(1.05);
}
.nav-links button a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgba(49, 46, 129, 0.5),
    #0f172a,
    #0f172a
  );
  border-bottom: solid rgb(35, 35, 35) 1px;
  padding-bottom: 130px;
}
.hero-box h1 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 150px;
}
.hero-box p {
  font-size: 20px;
  color: #a5b4fc;
  margin-bottom: 32px;
}
.hero-box button {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 15px 20px;
  border-radius: 8px;
  border: none;

  display: inline-block;
  transition: transform 0.2s ease, background 0.2s ease;
}
.hero-box button:hover {
  background: linear-gradient(to right, #4338ca, #7e22ce);
  transform: scale(1.05);
}
.hero-box button a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.about h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #a188fa;
  margin-top: 90px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-bottom: solid rgb(35, 35, 35) 1px;
  padding-bottom: 130px;
}
.about-section {
  display: flex;
  align-items: center;
}

.border-img {
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(to top right, indigo, purple);

  margin-left: 30px;
}
.imgg {
  width: 300px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #1e293b;
  margin: 0;
  padding: 0;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  background-color: white;
}
.about-text {
  font-size: 18px;
  line-height: 1.6;
  width: 55%;
  margin-left: 50px;
}
.about-text p {
  margin-bottom: 16px;
  color: #8f98a6;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #a188fa;
  margin-top: 90px;
}
.projects {
  display: flex;
  justify-content: center;
  width: 80%;
  border-bottom: solid rgb(35, 35, 35) 1px;
  padding-bottom: 130px;
}
.project-one {
  margin: 30px;

  border-radius: 10px;
  overflow: hidden;
  background-color: #1b2535;
  width: 30%;
  transition: transform 0.3s;
  border: 1px solid #475569;
}
.project-one:hover {
  transform: translateY(-5px);
}

.project-one img {
  width: 100%;
}
.proj-cont {
  margin-left: 30px;
  margin-bottom: 30px;
}
.proj-cont h3 {
  color: white;
  font-size: 23px;
}
.proj-cont p {
  margin-bottom: 16px;
  color: #8f98a6;
}
.live-demo {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  display: inline-block;
  transition: transform 0.2s ease, background 0.2s ease;
}
.live-demo:hover {
  background: linear-gradient(to right, #4338ca, #7e22ce);
  transform: scale(1.05);
}
.live-demo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.GitHub {
  background-color: #334155;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}
.GitHub:hover {
  background: linear-gradient(to right, #334155, #42484f);
  transform: scale(1.05);
}
.GitHub a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.my-skills {
  width: 80%;
}
.my-skills h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #a188fa;
  margin-top: 90px;
}
.skills-logos {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid rgb(35, 35, 35) 1px;
  padding-bottom: 130px;
}
.skills-logos span {
  background-color: #1e293b;
  padding: 10px 18px;
  border-radius: 5px;
  color: #8f98a6;
  font-size: large;
  font-weight: 500;
  display: flex;
  align-items: center;
  border: 1px solid #475569;
  transition: 0.3s;
}
.skills-logos span:hover {
  transform: translateY(-3px);
}
.skills-logos span i {
  font-size: 27px;
  margin-right: 8px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-bottom: solid rgb(35, 35, 35) 1px;
  padding-bottom: 130px;
}
.in-touch h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #a188fa;
  margin-top: 90px;
}
.in-touch p {
  margin-bottom: 16px;
  color: #8f98a6;
}
.in-touch button {
  background: linear-gradient(to right, #4f46e5, #9333ea);
  padding: 13px 20px;
  border-radius: 8px;
  border: none;

  display: inline-block;
  transition: transform 0.2s ease, background 0.2s ease;
}
.in-touch button:hover {
  background: linear-gradient(to right, #4338ca, #7e22ce);
  transform: scale(1.05);
}
.in-touch button a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 600;
}
.in-touch button a i {
  margin-right: 8px;
  font-size: 18px;
}
.footer-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logos a i {
  font-size: 30px;
  color: #8f98a6;
  margin: 30px 20px 20px;
}
.footer-bar p {
  color: #8f98a6;
  margin-bottom: 50px;
}
.bod {
  opacity: 0;
  animation: fadeIn ease-in 1s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade.visible {
  opacity: 1;
  transform: translateY(0);
}
#btn-mob {
  display: none;
}
@media (max-width: 600px) {
  body {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .mobile-links a {
    text-decoration: none;
    color: #8f98a6;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 200px;
    height: 100px;
  }
  .mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  #btn-mob {
    display: inline-block;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav button {
    background: linear-gradient(to right, #4f46e5, #9333ea);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 8px;

    border: none;
    color: white;
    display: inline-block;
    transition: transform 0.2s ease, background 0.2s ease;
  }
  .nav-links {
    display: none;
  }
  .skills-logos {
    display: flex;
    flex-direction: column;
  }
  .skills-logos span {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project-one {
    width: 80%;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .my-img {
    width: 80%;
  }
  .border-img {
    height: 208px;
    width: 198px;
    margin-left: 10px;
  }
  .imgg {
    width: 190px;
    height: 200px;
  }
  .about-text {
    width: 100%;
    margin: 0px;
  }
  .full-name h1 {
    font-size: large;
  }
  .full-name {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }
  .hero-box h1 {
    font-size: 35px;
    margin-left: 5px;
    padding: 5px;
  }
  .hero-box p {
    margin-left: 5px;
    padding: 5px;
  }
  section {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .hero-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
